<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>📝 Registrar Gasto</title>
        <link rel="stylesheet" href="../styles/styles.css">
    </head><body>

        <div class="container">

            <div class="form-box">
                <h2>📝 Registrar Gasto</h2>

                <form id="form">
                    <div class="input-group">

                        <!-- Date -->
                        <label for="date">📅 Fecha</label>
                        <input type="date" id="date" required>

                        <!-- Category -->
                        <label for="category">🏷️ Categoría</label>
                        <input type="text" id="category" list="categories-expenses" required>

                        <datalist id="categories-expenses">
                            <option value="Alimentación">
                            <option value="Transporte">
                            <option value="Entretenimiento">
                            <option value="Salud">
                        </datalist>

                        <!-- Description -->
                        <label for="description">📝 Descripción</label>
                        <input type="text" id="description" required>

                        <!-- Amount -->
                        <label for="amount">💰 Monto</label>
                        <input type="number" id="amount"
                               placeholder="₡0.00"
                               step="0.01"
                               min="0.01"
                               required>

                    </div>

                    <button type="submit">💾 Registrar Gasto</button>
                </form>
            </div>
        </div>
        <script src="../controllers/layout.js"></script>
        <script src="../models/ExpenseRecordModel.js"></script>
        <script src="../controllers/registerController.js"></script>


    </body>
</html>
