<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>&#128195Registrar Gasto</title>
        <link rel="stylesheet" href="../styles/styles.css">
    </head><body>

        <div class="container">

            <div class="form-box">
                <h2>&#128203Registrar Gasto&#128203</h2>

                <form id="form">
                    <div class="input-group">

                        <!-- Fecha -->
                        <label for="fecha">📅 Fecha</label>
                        <input type="date" id="fecha" required>

                        <!-- Categoría -->
                        <label for="categoria">🏷️ Categoría</label>
                        <input type="text" id="categoria" list="categorias-gastos" required>

                        <datalist id="categorias-gastos">
                            <option value="Alimentación">
                            <option value="Transporte">
                            <option value="Entretenimiento">
                            <option value="Salud">
                        </datalist>

                        <!-- Descripción -->
                        <label for="descripcion">📝 Descripción</label>
                        <input type="text" id="descripcion" required>

                        <!-- Monto -->
                        <label for="monto">💰 Monto</label>
                        <input type="number" id="monto"
                               placeholder="₡0.00"
                               step="0.01"
                               min="0.01"
                               required>

                    </div>

                    <button type="submit">💾 Registrar Gasto</button>
                </form>
            </div>
        </div>
        <script src="../controllers/layout.js"></script>
        <script src="../models/RegistroGastoModel.js"></script>
        <script src="../controllers/registroController.js"></script>


    </body>
</html>
