<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Reportes de Gastos</title>

    <!-- Estilos globales -->
    <link rel="stylesheet" href="../styles/styles.css">

    <!-- Estilos exclusivos de la vista Reportes -->
    <link rel="stylesheet" href="../styles/reporteStyle.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <div class="reportes-container">
        <h1 class="reportes-titulo">📊 Reportes de Gastos</h1>

        <div id="contenido-reportes">
        </div>
    </div>

    <script src="../controllers/layout.js"></script>
    <script src="../models/RegistroGastoModel.js"></script>
    <script src="../models/ReportesModel.js"></script>
    <script src="../controllers/reportesController.js"></script>

</body>

</html>