<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reportes de Gastos</title>

    <!-- Global styles -->
    <link rel="stylesheet" href="../styles/styles.css">

    <!-- Specific styles for the Reports view -->
    <link rel="stylesheet" href="../styles/reporteStyle.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <div class="reportes-container">
        <h1 class="reportes-titulo">📊 Reportes de Gastos</h1>

        <div id="report-content">
        </div>
    </div>

    <script src="../controllers/layout.js"></script>
    <script src="../models/ExpenseRecordModel.js"></script>
    <script src="../models/reportsModel.js"></script>
    <script src="../controllers/reportsController.js"></script>

</body>

</html>